.frame-image-center {
  position: relative;
  min-height: 163px;
}
.frame-image-center > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.first-price {
  font-size: 30pt;
}
.list-with-icon {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.list-with-icon > li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1em;
}
.list-with-icon > li:before {
  font-family: "FontAwesome";
  content: "\f058";
  padding-right: 5px;
  color: green;
}
h1 {
  font-family: "montserratbold";
}
.footer {
  color: rgb(190, 179, 179);
  font-size: 10pt;
}
.footer-link {
  color: rgb(190, 179, 179);
}
.footer-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
.footer-label {
  color: rgb(126, 116, 116);
}
.help-text {
  color: rgb(243, 243, 243);
  font-size: 18pt;
}
.header-text {
  font-size: 8pt;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-rounded {
  border-radius: 25px;
}
.bg-blue-light {
  background-color: #039be5;
}
.light-text {
  color: #fff;
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 280px;
  padding: 10px 0;
  background-color: #42ba96;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  z-index: 9999;
}
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  font-size: 8pt;
  right: -25px;
  top: 25px;
  transform: rotate(-45deg);
}
.box {
  position: relative;
}
